@font-face {
    font-family: 14segment;
    src: url("14segment.otf") format("opentype");
}


body {
  font-family: 14segment;
  font-size: 6vw;
}
.menu {
  column-count:2;
  
}
.prices {
  background-color: black;
  color: red;
}
